.titulo_cadastro {
	position: relative;
    border-top: 5px solid #006e8e;
    margin-bottom: 10px;
    padding: 5px;
    font-family: verdana;
    font-size: 18px;
    font-weight: bold;
    color: #006e8e;
    background-color: #a9a9a9;

}

.box_form{
    position: relative;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #000;
}

.box_form_topo{
    position: relative;
    text-align: center;
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #000;
}

.espaco{
	margin-bottom: 150px;

}

