html {
	font-family: cursive;
	background-color: #58b6b2;
}

img {
	border-radius: 15px 15px 0 0;
	width: 100vw;
}

.container {
	height: auto;
	width: 100vw;
	margin: auto;
	position: relative;
}

.container img {
	margin: 0 auto;
}

#myCanvas {
	width: 100vw;
	margin: 10px auto;
	position: relative;
	background: url(../img/fundo_bolha_sem_linha.jpg);
	border-radius: 20px;
}

.vitrine {
	width: 100vw;
	height: auto;
	margin: 1em;
}

.noticia {
	position: relative;
	margin: auto;
	margin-left: 40px;
	margin-bottom: 10px;
	height: 500px;
	width: 360px;
	border-radius: 10px;
	background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, .3) 21%, rgba(255, 255, 255, .3) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, .3) 21%, rgba(255, 255, 255, .3) 34%, transparent 35%, transparent) 0 -50px;
	background-color: #483d8b;
	background-size: 76px 101px;
	color: lightcyan;
	padding: 2px;
	text-align: justify;
	display: inline-block;
}

.noticia img {
	height: auto;
	width: 324px;
	position: relative;
	margin: 6px 0px 6px 16px;
}

#carrossel {
	display: block;
	width: 200%;
	height: auto;
	position: relative;
	float: left;
	border-radius: 103px;
	margin: auto;
}
.owl-wrapper,
.owl-item,
.item img {
	width: 100vw;
	height: 300px;
}

.rodape {
	height: 70px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, .3) 21%, rgba(255, 255, 255, .3) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, .3) 21%, rgba(255, 255, 255, .3) 34%, transparent 35%, transparent) 0 -50px;
	background-color: #5f9ea0;
	background-size: 55px 50px;
}

#botao1,
#botao2,
#botao3,
#botao4 {
	height: 20px;
	width: 100px;
	border-radius: 5px;
	background: linear-gradient(#1aff1a, #00b300);
	text-align: center;
	color: lightgreen;
	font-family: cursive, Sans-Serif;
	position: relative;
	float: right;
	margin-top: 15px;
}

.clear {
	clear: both
}

.box_form_topo {
	position: relative;
	text-align: center;
	width: 500px;
	height: auto;
	padding: 10px;
	margin: 10px auto;
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #000;
}

.box_form_topo a {
	color: black;
	text-decoration: none;
}

.box_form_topo a:hover {
	color: lightgreen;

}